

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tracking System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="~/assets2/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/assets2/css/animate.css">
    <link href="~/assets/css/style.css" rel="stylesheet"/>

    <link rel="stylesheet" href="~/assets2/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets2/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets2/css/magnific-popup.css">

    <link rel="stylesheet" href="~/assets2/css/aos.css">

    <link rel="stylesheet" href="~/assets2/css/ionicons.min.css">

    <link rel="stylesheet" href="~/assets2/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/assets2/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/assets2/css/flaticon.css">
    <link rel="stylesheet" href="~/assets2/css/icomoon.css">
    <link rel="stylesheet" href="~/assets2/css/style.css">

    <style>
        b, strong {
            font-weight: normal;
        }
    </style>

</head>
<body>

    @*<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand" href="index.html">CoHost</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu"></span> Menu
                </button>

                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                        <li class="nav-item"><a href="domain.html" class="nav-link">Domain</a></li>
                        <li class="nav-item"><a class="nav-link" href="hosting.html">Hosting</a></li>
                        <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
                        <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                        <li class="nav-item cta"><a href="contact.html" class="nav-link"><span>Get started</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>*@
    <!-- END nav -->


    @*@if (HttpContext.Current.Session["User_id"] != null && HttpContext.Current.Session["User_id"] != "")
    {
        
                <li>
                    <p><b>@Session["User_name"]</b></p>
                </li>
        
    }*@

    <section class="ftco-section ftco-no-pt ftc-no-pb">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-lg-6 py-5">
                    <div class="heading-section ftco-animate mt-5">

                        <h2 class="mb-4">Forms Tracking System</h2>
                        <p>
                            The system purpose is to keep track of forms such as ducuments, purchases, or athoer related activity to work that includes multiple steps
                            from beggining to completion in order to keep track of every step including all necessary information such as dates, status, title and so on
                            to use it as a reminder for future purposes.
                        </p>
                    </div>
                    <img src="~/assets2/images/web2.png" class="img-fluid" alt="">
                </div>
            </div>

        </div>
    </section>


    @*<section class="ftco-domain">
            <div class="hero-wrap js-fullheight">
                <div class="container">
                    <div class="overlay"></div>
                    <div class="container-fluid px-0">
                        <div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-end">
                            <img class="one-third js-fullheight align-self-end order-md-last img-fluid" src="~/assets2/images/tracking.png" alt="">
                            <div class="one-forth d-flex align-items-center ftco-animate js-fullheight">
                                <div class="text mt-5">
                                    <span class="subheading">Tracking System</span>
                                    <h1 class="mb-3"><span>Design,</span> <span>Development,</span> <span>Hosting</span></h1>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <p><a href="#" class="btn btn-primary px-4 py-3">Get in touch</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@

    @*<section class="ftco-section services-section bg-light">
            <div class="container">
                <div class="row justify-content-center mb-5 pb-3">
                    <div class="col-md-7 text-center heading-section ftco-animate">
                        <h2 class="mb-4">Why Choose Us</h2>
                        <p>Even all the successful employees need to keep track and save their work in an effiecient and easy way..</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-flex align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center order-md-last">
                                <span class="flaticon-cloud"></span>
                            </div>
                            <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-right">
                                <h3 class="heading">Super Fast Server</h3>
                                <p class="mb-0">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-flex align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-server"></span>
                            </div>
                            <div class="media-body pl-4">
                                <h3 class="heading">Daily Backups</h3>
                                <p class="mb-0">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-flex align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center order-md-last">
                                <span class="flaticon-customer-service"></span>
                            </div>
                            <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-right">
                                <h3 class="heading">Technical Services</h3>
                                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-flex align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-life-insurance"></span>
                            </div>
                            <div class="media-body pl-4">
                                <h3 class="heading">Secure and Reliable</h3>
                                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-flex align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center order-md-last">
                                <span class="flaticon-cloud-computing"></span>
                            </div>
                            <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-right">
                                <h3 class="heading">DNS Control</h3>
                                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                            </div>s
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-flex align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-settings"></span>
                            </div>
                            <div class="media-body pl-4">
                                <h3 class="heading">24/7 Support</h3>
                                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@

    <section class="ftco-section ftco-no-pt ftc-no-pb">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 py-5">

                    <div class="heading-section ftco-animate mt-5">
                        <h2 class="mb-4">Our Main Services</h2>
                        <p>
                            The tracking system provides useful services for the admin and the user, the admin can log in to create user accoutns, updates the accounts.
                            The user can log in to the system by the account created by the manager, to create and update a form, view the created forms, create and update
                            the tracks associated with the forms and create a status for each track.
                        </p>
                    </div>
                    <img src="~/assets2/images/work2.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 py-5">
                    <div class="row">
                        <div class="col-md-6 ftco-animate">
                            <div class="media block-6 services border text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="icon-user"></span>
                                </div>
                                <div class="mt-3 media-body media-body-2">
                                    <h3 class="heading">Create user account</h3>
                                    <p>Admin can create and update the user account</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ftco-animate">
                            <div class="media block-6 services border text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="icon-file-o"></span>
                                </div>
                                <div class="mt-3 media-body media-body-2">
                                    <h3 class="heading">Create a form</h3>
                                    <p>User can create and update a form</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ftco-animate">
                            <div class="media block-6 services border text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="icon-location-arrow"></span>
                                </div>
                                <div class="mt-3 media-body media-body-2">
                                    <h3 class="heading">Create track</h3>
                                    <p>User can create a track that is associated with a form</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ftco-animate">
                            <div class="media block-6 services border text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="icon-check-square"></span>
                                </div>
                                <div class="mt-3 media-body media-body-2">
                                    <h3 class="heading">Create a status track</h3>
                                    <p>User can create a status for a track</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    @*<footer class="ftco-footer ftco-bg-dark ftco-section">
            <div class="container">
                <div class="row mb-5 pb-5 align-items-center d-flex">
                    <div class="col-md-6">
                        <div class="heading-section heading-section-white ftco-animate">
                            <span class="subheading">Get an easy quote</span>
                            <h2 style="font-size: 30px;">Sign Up For Web Hosting Today!</h2>
                        </div>
                    </div>
                    <div class="col-md-3 ftco-animate">
                        <div class="price">
                            <span class="subheading">Starting at Only</span>
                            <h3>$4.50<span>/mo</span></h3>
                        </div>
                    </div>
                    <div class="col-md-3 ftco-animate">
                        <p class="mb-0"><a href="#" class="btn btn-primary py-3 px-4">Get started now</a></p>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md">
                        <div class="ftco-footer-widget mb-4 bg-primary p-4">
                            <h2 class="ftco-heading-2">CoHost</h2>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            <ul class="ftco-footer-social list-unstyled mb-0">
                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="ftco-footer-widget mb-4 ml-md-5">
                            <h2 class="ftco-heading-2">Unseful Links</h2>
                            <ul class="list-unstyled">
                                <li><a href="#" class="py-2 d-block">Servers</a></li>
                                <li><a href="#" class="py-2 d-block">Windos Hosting</a></li>
                                <li><a href="#" class="py-2 d-block">Cloud Hosting</a></li>
                                <li><a href="#" class="py-2 d-block">OS Servers</a></li>
                                <li><a href="#" class="py-2 d-block">Linux Servers</a></li>
                                <li><a href="#" class="py-2 d-block">Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2">Navigational</h2>
                            <ul class="list-unstyled">
                                <li><a href="#" class="py-2 d-block">Home</a></li>
                                <li><a href="#" class="py-2 d-block">Domain</a></li>
                                <li><a href="#" class="py-2 d-block">Hosting</a></li>
                                <li><a href="#" class="py-2 d-block">About</a></li>
                                <li><a href="#" class="py-2 d-block">Blog</a></li>
                                <li><a href="#" class="py-2 d-block">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2">Office</h2>
                            <div class="block-23 mb-3">
                                <ul>
                                    <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                                    <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                                    <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">

                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </footer>*@



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    @section Scripts{
        <script src="~/assets2/js/jquery.min.js"></script>
        <script src="~/assets2/js/jquery-migrate-3.0.1.min.js"></script>
        <script src="~/assets2/js/popper.min.js"></script>
        <script src="~/assets2/js/bootstrap.min.js"></script>
        <script src="~/assets2/js/jquery.easing.1.3.js"></script>
        <script src="~/assets2/js/jquery.waypoints.min.js"></script>
        <script src="~/assets2/js/jquery.stellar.min.js"></script>
        <script src="~/assets2/js/owl.carousel.min.js"></script>
        <script src="~/assets2/js/jquery.magnific-popup.min.js"></script>
        <script src="~/assets2/js/aos.js"></script>
        <script src="~/assets2/js/jquery.animateNumber.min.js"></script>
        <script src="~/assets2/js/bootstrap-datepicker.js"></script>
        <script src="~/assets2/js/jquery.timepicker.min.js"></script>
        <script src="~/assets2/js/scrollax.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
        <script src="~/assets2/js/google-map.js"></script>
        <script src="~/assets2/js/main.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
        <script src="~/assets/js/main.js"></script>

        <!--  Chart js -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>

        <!--Chartist Chart-->
        <script src="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartist-plugin-legend@0.6.2/chartist-plugin-legend.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/flot-pie@1.0.0/src/jquery.flot.pie.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/simpleweather@3.1.0/jquery.simpleWeather.min.js"></script>
        <script src="~/assets/js/init/weather-init.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.js"></script>
        <script src="~/assets/js/init/fullcalendar-init.js"></script>

        <!--Local Stuff-->
        <script>
            jQuery(document).ready(function ($) {
                "use strict";

                // Pie chart flotPie1
                var piedata = [
                    { label: "Desktop visits", data: [[1, 32]], color: '#5c6bc0' },
                    { label: "Tab visits", data: [[1, 33]], color: '#ef5350' },
                    { label: "Mobile visits", data: [[1, 35]], color: '#66bb6a' }
                ];

                $.plot('#flotPie1', piedata, {
                    series: {
                        pie: {
                            show: true,
                            radius: 1,
                            innerRadius: 0.65,
                            label: {
                                show: true,
                                radius: 2 / 3,
                                threshold: 1
                            },
                            stroke: {
                                width: 0
                            }
                        }
                    },
                    grid: {
                        hoverable: true,
                        clickable: true
                    }
                });
                // Pie chart flotPie1  End
                // cellPaiChart
                var cellPaiChart = [
                    { label: "Direct Sell", data: [[1, 65]], color: '#5b83de' },
                    { label: "Channel Sell", data: [[1, 35]], color: '#00bfa5' }
                ];
                $.plot('#cellPaiChart', cellPaiChart, {
                    series: {
                        pie: {
                            show: true,
                            stroke: {
                                width: 0
                            }
                        }
                    },
                    legend: {
                        show: false
                    }, grid: {
                        hoverable: true,
                        clickable: true
                    }

                });
                // cellPaiChart End
                // Line Chart  #flotLine5
                var newCust = [[0, 3], [1, 5], [2, 4], [3, 7], [4, 9], [5, 3], [6, 6], [7, 4], [8, 10]];

                var plot = $.plot($('#flotLine5'), [{
                    data: newCust,
                    label: 'New Data Flow',
                    color: '#fff'
                }],
                    {
                        series: {
                            lines: {
                                show: true,
                                lineColor: '#fff',
                                lineWidth: 2
                            },
                            points: {
                                show: true,
                                fill: true,
                                fillColor: "#ffffff",
                                symbol: "circle",
                                radius: 3
                            },
                            shadowSize: 0
                        },
                        points: {
                            show: true,
                        },
                        legend: {
                            show: false
                        },
                        grid: {
                            show: false
                        }
                    });
                // Line Chart  #flotLine5 End
                // Traffic Chart using chartist
                if ($('#traffic-chart').length) {
                    var chart = new Chartist.Line('#traffic-chart', {
                        labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
                        series: [
                            [0, 18000, 35000, 25000, 22000, 0],
                            [0, 33000, 15000, 20000, 15000, 300],
                            [0, 15000, 28000, 15000, 30000, 5000]
                        ]
                    }, {
                            low: 0,
                            showArea: true,
                            showLine: false,
                            showPoint: false,
                            fullWidth: true,
                            axisX: {
                                showGrid: true
                            }
                        });

                    chart.on('draw', function (data) {
                        if (data.type === 'line' || data.type === 'area') {
                            data.element.animate({
                                d: {
                                    begin: 2000 * data.index,
                                    dur: 2000,
                                    from: data.path.clone().scale(1, 0).translate(0, data.chartRect.height()).stringify(),
                                    to: data.path.clone().stringify(),
                                    easing: Chartist.Svg.Easing.easeOutQuint
                                }
                            });
                        }
                    });
                }
                // Traffic Chart using chartist End
                //Traffic chart chart-js
                if ($('#TrafficChart').length) {
                    var ctx = document.getElementById("TrafficChart");
                    ctx.height = 150;
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"],
                            datasets: [
                                {
                                    label: "Visit",
                                    borderColor: "rgba(4, 73, 203,.09)",
                                    borderWidth: "1",
                                    backgroundColor: "rgba(4, 73, 203,.5)",
                                    data: [0, 2900, 5000, 3300, 6000, 3250, 0]
                                },
                                {
                                    label: "Bounce",
                                    borderColor: "rgba(245, 23, 66, 0.9)",
                                    borderWidth: "1",
                                    backgroundColor: "rgba(245, 23, 66,.5)",
                                    pointHighlightStroke: "rgba(245, 23, 66,.5)",
                                    data: [0, 4200, 4500, 1600, 4200, 1500, 4000]
                                },
                                {
                                    label: "Targeted",
                                    borderColor: "rgba(40, 169, 46, 0.9)",
                                    borderWidth: "1",
                                    backgroundColor: "rgba(40, 169, 46, .5)",
                                    pointHighlightStroke: "rgba(40, 169, 46,.5)",
                                    data: [1000, 5200, 3600, 2600, 4200, 5300, 0]
                                }
                            ]
                        },
                        options: {
                            responsive: true,
                            tooltips: {
                                mode: 'index',
                                intersect: false
                            },
                            hover: {
                                mode: 'nearest',
                                intersect: true
                            }

                        }
                    });
                }
                //Traffic chart chart-js  End
                // Bar Chart #flotBarChart
                $.plot("#flotBarChart", [{
                    data: [[0, 18], [2, 8], [4, 5], [6, 13], [8, 5], [10, 7], [12, 4], [14, 6], [16, 15], [18, 9], [20, 17], [22, 7], [24, 4], [26, 9], [28, 11]],
                    bars: {
                        show: true,
                        lineWidth: 0,
                        fillColor: '#ffffff8a'
                    }
                }], {
                        grid: {
                            show: false
                        }
                    });
                // Bar Chart #flotBarChart End
            });
        </script>
    }
</body>
</html>