@model TrackingApp.Models.System_Status_Track

@{
    ViewBag.Title = "Details";
}

<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
    <div class="widget">
        <h4 class="widget-title">Track status</h4>
        <div class="summary-block">
            <div class="summary-content">
                <div class="summary-head">
                    <h5 class="summary-title">
                        @Html.DisplayNameFor(model => model.Status_track_name)
                    </h5>
                </div>
                <div class="summary-price">
                    <p class="summary-text">@Html.DisplayFor(model => model.Status_track_name)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Status_track_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
